.menu {
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  background: #f0f0f0;
  transform: translateY(-100%);
  transition: transform 0.5s;
  z-index: 1;
}
.active {
  transform: translateX(0);
}

.menu__content {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding-top: 100px;
}
.link__block {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  color: black;
  padding: 20px 0px 0px 20px;
  font-size: 26px;
}
.link__icon img {
  width: 35px;
  height: auto;
}
.link__link {
}
.link__link:hover {
  text-shadow: 0.2px 0.2px 7px rgba(0, 0, 0, 0.5);
  font-size: 27px;
  transition: 0.2s;
}
.link__link:not(:hover) {
  transition: 0.2s;
}

.link__link:active {
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
  font-size: 24px;
  transition: 0.1s;
}

.link__link a {
  list-style-type: none;
  color: black;
}
